@import "~react-toolbox/lib/base";
@import "./config";

.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-highest;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.hidden {
  display: none;
  pointer-events: none;
}

.popover {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  box-shadow: $zdepth-shadow-1;
}
