@import "../../config";

.root {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.dataCard {
  width: 300px;
  margin: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.chartCard {
  flex: 1;
  margin: 5px;
  padding: 8px;
  display: flex;
  position: relative;
}

.selectedColumns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selectedColumn {
  flex: 1;
  margin-right: 5px;
}
