@import "../../config";

.data {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.dataRow {
  display: flex;
  flex-direction: row;
}

.selectedColumns {
  flex: 1;
}

.selectColumns {
  width: 300px;
}

.selectedRows {
  flex: 1;
}

.selectRows {
  width: 300px;
}

.top {
  z-index: 99999;
}

.graph {
  flex: 1;
}

.root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
